* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background: #090A0C;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

canvas {
  position: absolute;
  inset: 0;
  margin: auto;
}